TP2/Node-Red/flows/Dashboard 1.json
[{"id":"511016be.b98e58","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7b592bfe.bc5794","type":"ui_button","z":"511016be.b98e58","name":"","group":"452731bc.4aa68","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1110,"y":180,"wires":[[]]},{"id":"ecee3352.09f4b","type":"ui_text","z":"511016be.b98e58","group":"ca972641.61e968","order":3,"width":0,"height":0,"name":"","label":"Solo texto bro:","format":"{{msg.payload}}","layout":"col-center","x":660,"y":220,"wires":[]},{"id":"caf7eaee.5b71c8","type":"ui_slider","z":"511016be.b98e58","name":"","label":"Placer","tooltip":"","group":"452731bc.4aa68","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":"0.1","x":310,"y":480,"wires":[["7c89aa64.13aa34","dc243063.b16dc","9262d4e2.2d5148"]]},{"id":"7c89aa64.13aa34","type":"ui_gauge","z":"511016be.b98e58","name":"Placerometro","group":"452731bc.4aa68","order":1,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"Placeres/m^2 ","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"4.2","seg2":"6.9","x":550,"y":480,"wires":[]},{"id":"dc243063.b16dc","type":"ui_chart","z":"511016be.b98e58","name":"","group":"452731bc.4aa68","order":2,"width":0,"height":0,"label":"Cómo cómo?","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":560,"wires":[[]]},{"id":"9262d4e2.2d5148","type":"ui_chart","z":"511016be.b98e58","name":"","group":"ca972641.61e968","order":2,"width":0,"height":0,"label":"Sí sí","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":620,"wires":[[]]},{"id":"551d9443.c9268c","type":"ui_audio","z":"511016be.b98e58","name":"","group":"ca972641.61e968","voice":"Google español de Estados Unidos","always":"","x":640,"y":340,"wires":[]},{"id":"32d90f84.6a655","type":"ui_toast","z":"511016be.b98e58","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":650,"y":280,"wires":[[]]},{"id":"1c749a1c.6cc9d6","type":"ui_text_input","z":"511016be.b98e58","name":"","label":"","tooltip":"","group":"ca972641.61e968","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":180,"y":340,"wires":[["551d9443.c9268c","32d90f84.6a655","ecee3352.09f4b"]]},{"id":"dafe9c1d.8c519","type":"ui_text_input","z":"511016be.b98e58","name":"","label":"","tooltip":"","group":"452731bc.4aa68","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":940,"y":180,"wires":[["7b592bfe.bc5794"]]},{"id":"dfe597c5.62fe88","type":"ui_toast","z":"511016be.b98e58","position":"top left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1290,"y":360,"wires":[]},{"id":"7bca688e.fd8de8","type":"ui_colour_picker","z":"511016be.b98e58","name":"","label":"","group":"452731bc.4aa68","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":5,"width":0,"height":0,"passthru":true,"topic":"","x":1040,"y":340,"wires":[["dfe597c5.62fe88"]]},{"id":"452731bc.4aa68","type":"ui_group","name":"Analog","tab":"dd0579c5.f93328","order":2,"disp":false,"width":6,"collapse":false},{"id":"ca972641.61e968","type":"ui_group","name":"Botón","tab":"dd0579c5.f93328","order":1,"disp":false,"width":6,"collapse":false},{"id":"dd0579c5.f93328","type":"ui_tab","name":"Tab principal","icon":"dashboard","disabled":false,"hidden":false}]