TP2/flows.json
[{"id":"e197b80c.e34108","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1435fdea.b323b2","type":"ui_button","z":"e197b80c.e34108","name":"","group":"aff9f07a.86a09","order":3,"width":6,"height":2,"passthru":false,"label":"<font size=\"5\">Red Theme</font>","tooltip":"","color":"","bgcolor":"#DF0F2F","icon":"","payload":"red","payloadType":"str","topic":"","x":360,"y":740,"wires":[["e65133c6.087bc"]]},{"id":"b0b04d40.22545","type":"ui_button","z":"e197b80c.e34108","name":"","group":"aff9f07a.86a09","order":4,"width":6,"height":2,"passthru":false,"label":"<font size=\"5\">Green Theme</font>","tooltip":"","color":"","bgcolor":"#078921","icon":"","payload":"green","payloadType":"str","topic":"","x":370,"y":800,"wires":[["e65133c6.087bc"]]},{"id":"774eeba8.1ec344","type":"ui_button","z":"e197b80c.e34108","name":"","group":"aff9f07a.86a09","order":5,"width":6,"height":2,"passthru":false,"label":"<font size=\"5\">Blue Theme</font>","tooltip":"","color":"","bgcolor":"#1469BF","icon":"","payload":"blue","payloadType":"str","topic":"","x":360,"y":860,"wires":[["e65133c6.087bc"]]},{"id":"2effe4aa.724a6c","type":"ui_gauge","z":"e197b80c.e34108","name":"","group":"aff9f07a.86a09","order":1,"width":6,"height":5,"gtype":"wave","title":"Brightness","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":340,"wires":[]},{"id":"13d1b8a6.fa7747","type":"ui_slider","z":"e197b80c.e34108","name":"","label":"","tooltip":"","group":"aff9f07a.86a09","order":2,"width":6,"height":2,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":360,"y":340,"wires":[["2effe4aa.724a6c","c3fc7b66.33c5b8"]]},{"id":"9e13dcc1.7865e","type":"ui_gauge","z":"e197b80c.e34108","name":"","group":"38d2bc1a.1c2a54","order":1,"width":6,"height":5,"gtype":"gage","title":"Fall Speed","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1120,"wires":[]},{"id":"d84e62b1.5bfd2","type":"ui_slider","z":"e197b80c.e34108","name":"","label":"","tooltip":"","group":"38d2bc1a.1c2a54","order":2,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":380,"y":1120,"wires":[["9e13dcc1.7865e","4aa05654.49dd78"]]},{"id":"e9070e63.f4ad9","type":"ui_colour_picker","z":"e197b80c.e34108","name":"L ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":2,"width":2,"height":1,"passthru":false,"topic":"","x":950,"y":200,"wires":[["1e820d87.806882"]]},{"id":"f5c77dce.95384","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"L","width":4,"height":2,"order":1,"category":"L","file":"L.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":160,"wires":[[]]},{"id":"328b3014.8c54a","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"J","width":4,"height":2,"order":4,"category":"J","file":"J.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":260,"wires":[[]]},{"id":"9207ffaf.990e3","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"T","width":4,"height":2,"order":7,"category":"T","file":"T.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":360,"wires":[[]]},{"id":"433a808a.f9437","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"I","width":4,"height":2,"order":10,"category":"I","file":"I.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":460,"wires":[[]]},{"id":"d128920d.229a7","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"Z","width":4,"height":2,"order":13,"category":"Z","file":"Z.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":560,"wires":[[]]},{"id":"9cce8260.c56b1","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"O","width":4,"height":2,"order":16,"category":"O","file":"O.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":660,"wires":[[]]},{"id":"7e11cf8.330fc3","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"S","width":4,"height":2,"order":19,"category":"S","file":"S.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":760,"wires":[[]]},{"id":"fac3fa36.e72eb8","type":"ui_colour_picker","z":"e197b80c.e34108","name":"J ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":5,"width":2,"height":1,"passthru":true,"topic":"","x":950,"y":300,"wires":[["bfd39798.f94758"]]},{"id":"a8d76fc1.0ec34","type":"ui_colour_picker","z":"e197b80c.e34108","name":"Z ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":14,"width":2,"height":1,"passthru":true,"topic":"","x":950,"y":600,"wires":[["89094fc1.88174"]]},{"id":"e810a6.f870cf58","type":"ui_colour_picker","z":"e197b80c.e34108","name":"S ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":20,"width":2,"height":1,"passthru":true,"topic":"","x":950,"y":800,"wires":[["91851bf8.7279c8"]]},{"id":"d44bd6f9.15af28","type":"ui_colour_picker","z":"e197b80c.e34108","name":"O ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":17,"width":2,"height":1,"passthru":true,"topic":"","x":950,"y":700,"wires":[["7e9182cc.bd239c"]]},{"id":"65a84962.b22268","type":"ui_colour_picker","z":"e197b80c.e34108","name":"I ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":11,"width":2,"height":1,"passthru":true,"topic":"","x":940,"y":500,"wires":[["8d0c76de.e93cb8"]]},{"id":"bcef8a1a.5bab48","type":"ui_colour_picker","z":"e197b80c.e34108","name":"T ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":8,"width":2,"height":1,"passthru":true,"topic":"","x":950,"y":400,"wires":[["e48d9dac.c03da"]]},{"id":"ecedd4f4.365028","type":"mqtt out","z":"e197b80c.e34108","name":"","topic":"Piece-RGB","qos":"","retain":"","broker":"90424e79.bcaf7","x":1370,"y":500,"wires":[]},{"id":"39875cb0.38c3e4","type":"ui_button","z":"e197b80c.e34108","name":"","group":"38d2bc1a.1c2a54","order":3,"width":6,"height":2,"passthru":false,"label":"<font size=\"5\">Restart Game</font>","tooltip":"","color":"","bgcolor":"#DF0F2F","icon":"","payload":"reset","payloadType":"str","topic":"","x":290,"y":1180,"wires":[["f9e464e2.525988","ac4abdc0.d66dd"]]},{"id":"1e820d87.806882","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"L-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":200,"wires":[["ecedd4f4.365028"]]},{"id":"e65133c6.087bc","type":"function","z":"e197b80c.e34108","name":"","func":"if (msg.payload == \"red\"){\n    msg.payload = \"#DF0F2F\";\n} else if (msg.payload == \"green\"){\n    msg.payload = \"#078921\";\n} else {\n    msg.payload = \"#1469BF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":800,"wires":[["e9070e63.f4ad9","fac3fa36.e72eb8","bcef8a1a.5bab48","65a84962.b22268","a8d76fc1.0ec34","d44bd6f9.15af28","e810a6.f870cf58"]]},{"id":"260a6f14.8f75f","type":"debug","z":"e197b80c.e34108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":60,"wires":[]},{"id":"dd338837.a0af68","type":"mqtt in","z":"e197b80c.e34108","name":"","topic":"movement","qos":"2","datatype":"auto","broker":"90424e79.bcaf7","x":940,"y":60,"wires":[["260a6f14.8f75f"]]},{"id":"bfd39798.f94758","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"J-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":300,"wires":[["ecedd4f4.365028"]]},{"id":"8d0c76de.e93cb8","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"I-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":500,"wires":[["ecedd4f4.365028"]]},{"id":"e48d9dac.c03da","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"T-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":400,"wires":[["ecedd4f4.365028"]]},{"id":"89094fc1.88174","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"Z-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":600,"wires":[["ecedd4f4.365028"]]},{"id":"91851bf8.7279c8","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"S-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":800,"wires":[["ecedd4f4.365028"]]},{"id":"7e9182cc.bd239c","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"O-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":700,"wires":[["ecedd4f4.365028"]]},{"id":"c3fc7b66.33c5b8","type":"mqtt out","z":"e197b80c.e34108","name":"","topic":"bright","qos":"","retain":"","broker":"90424e79.bcaf7","x":550,"y":280,"wires":[]},{"id":"4aa05654.49dd78","type":"mqtt out","z":"e197b80c.e34108","name":"","topic":"fall","qos":"","retain":"","broker":"90424e79.bcaf7","x":550,"y":1040,"wires":[]},{"id":"f9e464e2.525988","type":"mqtt out","z":"e197b80c.e34108","name":"","topic":"reset","qos":"","retain":"","broker":"90424e79.bcaf7","x":590,"y":1180,"wires":[]},{"id":"4c2f8402.52cc8c","type":"ui_button","z":"e197b80c.e34108","name":"","group":"38d2bc1a.1c2a54","order":9,"width":2,"height":2,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-left fa-3x","payload":"left","payloadType":"str","topic":"","x":1050,"y":1060,"wires":[["40b4ff5.b7349"]]},{"id":"c1dddf69.aeed9","type":"ui_button","z":"e197b80c.e34108","name":"","group":"38d2bc1a.1c2a54","order":10,"width":2,"height":2,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-right fa-3x","payload":"right","payloadType":"str","topic":"","x":1050,"y":1140,"wires":[["40b4ff5.b7349"]]},{"id":"3f8b704e.8d9d2","type":"ui_button","z":"e197b80c.e34108","name":"","group":"38d2bc1a.1c2a54","order":7,"width":2,"height":2,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-repeat fa-3x","payload":"rotate","payloadType":"str","topic":"","x":1050,"y":1180,"wires":[["40b4ff5.b7349"]]},{"id":"40b4ff5.b7349","type":"mqtt out","z":"e197b80c.e34108","name":"","topic":"movement","qos":"","retain":"","broker":"90424e79.bcaf7","x":1260,"y":1100,"wires":[]},{"id":"13132a8c.5febf5","type":"ui_text","z":"e197b80c.e34108","group":"38d2bc1a.1c2a54","order":4,"width":6,"height":1,"name":"","label":"<font size=\"5\">Controls</font>","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":980,"wires":[]},{"id":"e0b2cc1f.2eb36","type":"inject","z":"e197b80c.e34108","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"str","x":210,"y":340,"wires":[["13d1b8a6.fa7747"]]},{"id":"eeb2282e.9760f8","type":"inject","z":"e197b80c.e34108","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"xd","payloadType":"str","x":210,"y":160,"wires":[["b5ce56aa.97c5f8"]]},{"id":"1c55925a.edfe9e","type":"inject","z":"e197b80c.e34108","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"str","x":230,"y":1120,"wires":[["d84e62b1.5bfd2"]]},{"id":"b5ce56aa.97c5f8","type":"ui_button","z":"e197b80c.e34108","name":"","group":"aff9f07a.86a09","order":6,"width":0,"height":0,"passthru":true,"label":"<font size=\"3\">Reset Default Colors</font>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":160,"wires":[["780fe792.d2cc38","749c8c1d.9f9ec4","17f47d6a.5101c3","54f8248b.f45aac","e7923300.221b2","336ef2e1.91a62e","dacaa0ea.fa39c"]]},{"id":"780fe792.d2cc38","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#F0A000\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":160,"wires":[["e9070e63.f4ad9"]]},{"id":"749c8c1d.9f9ec4","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#0000F0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":260,"wires":[["fac3fa36.e72eb8"]]},{"id":"17f47d6a.5101c3","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#A000F0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":360,"wires":[["bcef8a1a.5bab48"]]},{"id":"54f8248b.f45aac","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#00F0F0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":460,"wires":[["65a84962.b22268"]]},{"id":"336ef2e1.91a62e","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#F0F000\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":660,"wires":[["d44bd6f9.15af28"]]},{"id":"e7923300.221b2","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#F00000\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":560,"wires":[["a8d76fc1.0ec34"]]},{"id":"dacaa0ea.fa39c","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#00F000\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":760,"wires":[["e810a6.f870cf58"]]},{"id":"775683fa.dbe00c","type":"ui_button","z":"e197b80c.e34108","name":"","group":"38d2bc1a.1c2a54","order":11,"width":2,"height":2,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-down fa-3x","payload":"down","payloadType":"str","topic":"","x":1050,"y":1100,"wires":[["40b4ff5.b7349"]]},{"id":"57a7ef7c.9406e","type":"ui_toast","z":"e197b80c.e34108","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":1320,"wires":[]},{"id":"9cc9a22d.57a8c","type":"function","z":"e197b80c.e34108","name":"","func":"if((msg.payload >= 1) && (msg.payload <= 10)){\n    msg.payload = \"Starting from ashes\";\n} else if (msg.payload == 15) {\n    msg.payload = \"Beep beep I'm a sheep\";\n} else {\n    msg.payload = \"Restarting Game\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1320,"wires":[["57a7ef7c.9406e"]]},{"id":"ac4abdc0.d66dd","type":"random","z":"e197b80c.e34108","name":"","low":"1","high":"100","inte":"true","property":"payload","x":580,"y":1320,"wires":[["9cc9a22d.57a8c"]]},{"id":"36d06e4c.5be182","type":"keypress","z":"e197b80c.e34108","key":"left","x":850,"y":1060,"wires":[["4c2f8402.52cc8c"]]},{"id":"42cfbce.b6e4944","type":"keypress","z":"e197b80c.e34108","key":"down","x":860,"y":1100,"wires":[["775683fa.dbe00c"]]},{"id":"7f6e0dae.6f4584","type":"keypress","z":"e197b80c.e34108","key":"right","x":850,"y":1140,"wires":[["c1dddf69.aeed9"]]},{"id":"13da2cd2.1df3e3","type":"keypress","z":"e197b80c.e34108","key":"up","x":850,"y":1180,"wires":[["3f8b704e.8d9d2"]]},{"id":"6f4e892d.655248","type":"ui_text","z":"e197b80c.e34108","group":"38d2bc1a.1c2a54","order":5,"width":6,"height":1,"name":"","label":"<font size=\"2\">You can also play with the arrows in keyboard!</font>","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":1020,"wires":[]},{"id":"aff9f07a.86a09","type":"ui_group","name":"Appearance","tab":"dd0579c5.f93328","order":1,"disp":true,"width":"6","collapse":false},{"id":"38d2bc1a.1c2a54","type":"ui_group","name":"Gameplay","tab":"dd0579c5.f93328","order":3,"disp":true,"width":"6","collapse":false},{"id":"9f76deba.9486","type":"ui_group","name":"Piece Colors","tab":"dd0579c5.f93328","order":2,"disp":true,"width":"6","collapse":false},{"id":"90424e79.bcaf7","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dd0579c5.f93328","type":"ui_tab","name":"MAGTetris ","icon":"pages","disabled":false,"hidden":false}]