TP2/UI Last version.json
[{"id":"e197b80c.e34108","type":"tab","label":"Tetris UI","disabled":false,"info":""},{"id":"1435fdea.b323b2","type":"ui_button","z":"e197b80c.e34108","name":"","group":"aff9f07a.86a09","order":3,"width":6,"height":2,"passthru":false,"label":"<font size=\"5\">Red Theme</font>","tooltip":"","color":"","bgcolor":"#DF0F2F","icon":"","payload":"red","payloadType":"str","topic":"","x":340,"y":580,"wires":[["e65133c6.087bc"]]},{"id":"b0b04d40.22545","type":"ui_button","z":"e197b80c.e34108","name":"","group":"aff9f07a.86a09","order":4,"width":6,"height":2,"passthru":false,"label":"<font size=\"5\">Green Theme</font>","tooltip":"","color":"","bgcolor":"#078921","icon":"","payload":"green","payloadType":"str","topic":"","x":350,"y":640,"wires":[["e65133c6.087bc"]]},{"id":"774eeba8.1ec344","type":"ui_button","z":"e197b80c.e34108","name":"","group":"aff9f07a.86a09","order":5,"width":6,"height":2,"passthru":false,"label":"<font size=\"5\">Blue Theme</font>","tooltip":"","color":"","bgcolor":"#1469BF","icon":"","payload":"blue","payloadType":"str","topic":"","x":340,"y":700,"wires":[["e65133c6.087bc"]]},{"id":"2effe4aa.724a6c","type":"ui_gauge","z":"e197b80c.e34108","name":"","group":"aff9f07a.86a09","order":1,"width":6,"height":5,"gtype":"wave","title":"Brightness","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":860,"wires":[]},{"id":"13d1b8a6.fa7747","type":"ui_slider","z":"e197b80c.e34108","name":"","label":"","tooltip":"","group":"aff9f07a.86a09","order":2,"width":6,"height":2,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":320,"y":860,"wires":[["2effe4aa.724a6c","c3fc7b66.33c5b8"]]},{"id":"9e13dcc1.7865e","type":"ui_gauge","z":"e197b80c.e34108","name":"","group":"38d2bc1a.1c2a54","order":1,"width":6,"height":5,"gtype":"gage","title":"Fall Speed","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":860,"wires":[]},{"id":"d84e62b1.5bfd2","type":"ui_slider","z":"e197b80c.e34108","name":"","label":"","tooltip":"","group":"38d2bc1a.1c2a54","order":2,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":960,"y":860,"wires":[["9e13dcc1.7865e","4aa05654.49dd78"]]},{"id":"e9070e63.f4ad9","type":"ui_colour_picker","z":"e197b80c.e34108","name":"L ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":2,"width":2,"height":1,"passthru":false,"topic":"","x":950,"y":100,"wires":[["1e820d87.806882"]]},{"id":"f5c77dce.95384","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"L","width":4,"height":2,"order":1,"category":"L","file":"L.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":60,"wires":[[]]},{"id":"328b3014.8c54a","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"J","width":4,"height":2,"order":4,"category":"J","file":"J.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":160,"wires":[[]]},{"id":"9207ffaf.990e3","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"T","width":4,"height":2,"order":7,"category":"T","file":"T.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":260,"wires":[[]]},{"id":"433a808a.f9437","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"I","width":4,"height":2,"order":10,"category":"I","file":"I.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":360,"wires":[[]]},{"id":"d128920d.229a7","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"Z","width":4,"height":2,"order":13,"category":"Z","file":"Z.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":460,"wires":[[]]},{"id":"9cce8260.c56b1","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"O","width":4,"height":2,"order":16,"category":"O","file":"O.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":560,"wires":[[]]},{"id":"7e11cf8.330fc3","type":"ui_media","z":"e197b80c.e34108","group":"9f76deba.9486","name":"S","width":4,"height":2,"order":19,"category":"S","file":"S.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":660,"wires":[[]]},{"id":"fac3fa36.e72eb8","type":"ui_colour_picker","z":"e197b80c.e34108","name":"J ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":5,"width":2,"height":1,"passthru":true,"topic":"","x":950,"y":200,"wires":[["bfd39798.f94758"]]},{"id":"a8d76fc1.0ec34","type":"ui_colour_picker","z":"e197b80c.e34108","name":"Z ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":14,"width":2,"height":1,"passthru":true,"topic":"","x":950,"y":500,"wires":[["89094fc1.88174"]]},{"id":"e810a6.f870cf58","type":"ui_colour_picker","z":"e197b80c.e34108","name":"S ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":20,"width":2,"height":1,"passthru":true,"topic":"","x":950,"y":700,"wires":[["91851bf8.7279c8"]]},{"id":"d44bd6f9.15af28","type":"ui_colour_picker","z":"e197b80c.e34108","name":"O ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":17,"width":2,"height":1,"passthru":true,"topic":"","x":950,"y":600,"wires":[["7e9182cc.bd239c"]]},{"id":"65a84962.b22268","type":"ui_colour_picker","z":"e197b80c.e34108","name":"I ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":11,"width":2,"height":1,"passthru":true,"topic":"","x":940,"y":400,"wires":[["8d0c76de.e93cb8"]]},{"id":"bcef8a1a.5bab48","type":"ui_colour_picker","z":"e197b80c.e34108","name":"T ColorBar","label":"","group":"9f76deba.9486","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":false,"square":"true","dynOutput":"true","order":8,"width":2,"height":1,"passthru":true,"topic":"","x":950,"y":300,"wires":[["e48d9dac.c03da"]]},{"id":"ecedd4f4.365028","type":"mqtt out","z":"e197b80c.e34108","name":"","topic":"Piece-RGB","qos":"","retain":"","broker":"90424e79.bcaf7","x":1370,"y":400,"wires":[]},{"id":"39875cb0.38c3e4","type":"ui_button","z":"e197b80c.e34108","name":"","group":"38d2bc1a.1c2a54","order":3,"width":6,"height":1,"passthru":true,"label":"<font size=\"5\">Restart Game</font>","tooltip":"","color":"","bgcolor":"#DF0F2F","icon":"","payload":"reset","payloadType":"str","topic":"","x":1050,"y":960,"wires":[["f9e464e2.525988","ac4abdc0.d66dd"]]},{"id":"1e820d87.806882","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"L-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":100,"wires":[["ecedd4f4.365028"]]},{"id":"e65133c6.087bc","type":"function","z":"e197b80c.e34108","name":"","func":"if (msg.payload == \"red\"){\n    msg.payload = \"#DF0F2F\";\n} else if (msg.payload == \"green\"){\n    msg.payload = \"#078921\";\n} else {\n    msg.payload = \"#1469BF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":700,"wires":[["e9070e63.f4ad9","fac3fa36.e72eb8","bcef8a1a.5bab48","65a84962.b22268","a8d76fc1.0ec34","d44bd6f9.15af28","e810a6.f870cf58"]]},{"id":"bfd39798.f94758","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"J-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":200,"wires":[["ecedd4f4.365028"]]},{"id":"8d0c76de.e93cb8","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"I-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":400,"wires":[["ecedd4f4.365028"]]},{"id":"e48d9dac.c03da","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"T-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":300,"wires":[["ecedd4f4.365028"]]},{"id":"89094fc1.88174","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"Z-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":500,"wires":[["ecedd4f4.365028"]]},{"id":"91851bf8.7279c8","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"S-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":700,"wires":[["ecedd4f4.365028"]]},{"id":"7e9182cc.bd239c","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"O-\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":600,"wires":[["ecedd4f4.365028"]]},{"id":"c3fc7b66.33c5b8","type":"mqtt out","z":"e197b80c.e34108","name":"","topic":"bright","qos":"","retain":"","broker":"90424e79.bcaf7","x":510,"y":800,"wires":[]},{"id":"4aa05654.49dd78","type":"mqtt out","z":"e197b80c.e34108","name":"","topic":"fall","qos":"","retain":"","broker":"90424e79.bcaf7","x":1150,"y":800,"wires":[]},{"id":"f9e464e2.525988","type":"mqtt out","z":"e197b80c.e34108","name":"","topic":"reset","qos":"","retain":"","broker":"90424e79.bcaf7","x":1330,"y":960,"wires":[]},{"id":"4c2f8402.52cc8c","type":"ui_button","z":"e197b80c.e34108","name":"left","group":"38d2bc1a.1c2a54","order":10,"width":2,"height":2,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-left fa-3x","payload":"left","payloadType":"str","topic":"","x":330,"y":1020,"wires":[["40b4ff5.b7349"]]},{"id":"c1dddf69.aeed9","type":"ui_button","z":"e197b80c.e34108","name":"right","group":"38d2bc1a.1c2a54","order":11,"width":2,"height":2,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-right fa-3x","payload":"right","payloadType":"str","topic":"","x":330,"y":1100,"wires":[["40b4ff5.b7349"]]},{"id":"3f8b704e.8d9d2","type":"ui_button","z":"e197b80c.e34108","name":"rotate","group":"38d2bc1a.1c2a54","order":8,"width":2,"height":2,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-repeat fa-3x","payload":"rotate","payloadType":"str","topic":"","x":330,"y":1140,"wires":[["40b4ff5.b7349"]]},{"id":"40b4ff5.b7349","type":"mqtt out","z":"e197b80c.e34108","name":"","topic":"movement","qos":"","retain":"","broker":"90424e79.bcaf7","x":530,"y":1080,"wires":[]},{"id":"13132a8c.5febf5","type":"ui_text","z":"e197b80c.e34108","group":"38d2bc1a.1c2a54","order":5,"width":6,"height":1,"name":"","label":"<font size=\"5\">Controls</font>","format":"{{msg.payload}}","layout":"col-center","x":310,"y":940,"wires":[]},{"id":"e0b2cc1f.2eb36","type":"inject","z":"e197b80c.e34108","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"str","x":170,"y":860,"wires":[["13d1b8a6.fa7747"]]},{"id":"eeb2282e.9760f8","type":"inject","z":"e197b80c.e34108","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"dummy","payloadType":"str","x":260,"y":60,"wires":[["b5ce56aa.97c5f8"]]},{"id":"1c55925a.edfe9e","type":"inject","z":"e197b80c.e34108","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"str","x":810,"y":860,"wires":[["d84e62b1.5bfd2"]]},{"id":"b5ce56aa.97c5f8","type":"ui_button","z":"e197b80c.e34108","name":"","group":"aff9f07a.86a09","order":6,"width":0,"height":0,"passthru":true,"label":"<font size=\"3\">Reset Default Colors</font>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":60,"wires":[["780fe792.d2cc38","749c8c1d.9f9ec4","17f47d6a.5101c3","54f8248b.f45aac","e7923300.221b2","336ef2e1.91a62e","dacaa0ea.fa39c"]]},{"id":"780fe792.d2cc38","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#F0A000\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":60,"wires":[["e9070e63.f4ad9"]]},{"id":"749c8c1d.9f9ec4","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#0000F0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":160,"wires":[["fac3fa36.e72eb8"]]},{"id":"17f47d6a.5101c3","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#A000F0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":260,"wires":[["bcef8a1a.5bab48"]]},{"id":"54f8248b.f45aac","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#00F0F0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":360,"wires":[["65a84962.b22268"]]},{"id":"336ef2e1.91a62e","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#F0F000\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":560,"wires":[["d44bd6f9.15af28"]]},{"id":"e7923300.221b2","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#F00000\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":460,"wires":[["a8d76fc1.0ec34"]]},{"id":"dacaa0ea.fa39c","type":"function","z":"e197b80c.e34108","name":"","func":"msg.payload = \"#00F000\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":660,"wires":[["e810a6.f870cf58"]]},{"id":"775683fa.dbe00c","type":"ui_button","z":"e197b80c.e34108","name":"down","group":"38d2bc1a.1c2a54","order":12,"width":2,"height":2,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-down fa-3x","payload":"down","payloadType":"str","topic":"","x":330,"y":1060,"wires":[["40b4ff5.b7349"]]},{"id":"57a7ef7c.9406e","type":"ui_toast","z":"e197b80c.e34108","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1310,"y":1040,"wires":[]},{"id":"9cc9a22d.57a8c","type":"function","z":"e197b80c.e34108","name":"","func":"if((msg.payload >= 1) && (msg.payload <= 10)){\n    msg.payload = \"Starting from ashes\";\n} else if (msg.payload == 15) {\n    msg.payload = \"Beep beep I'm a sheep\";\n} else {\n    msg.payload = \"Restarting Game\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1040,"wires":[["57a7ef7c.9406e"]]},{"id":"ac4abdc0.d66dd","type":"random","z":"e197b80c.e34108","name":"","low":"1","high":"100","inte":"true","property":"payload","x":980,"y":1040,"wires":[["9cc9a22d.57a8c"]]},{"id":"36d06e4c.5be182","type":"keypress","z":"e197b80c.e34108","key":"left","x":130,"y":1020,"wires":[["4c2f8402.52cc8c"]]},{"id":"42cfbce.b6e4944","type":"keypress","z":"e197b80c.e34108","key":"down","x":140,"y":1060,"wires":[["775683fa.dbe00c"]]},{"id":"7f6e0dae.6f4584","type":"keypress","z":"e197b80c.e34108","key":"right","x":130,"y":1100,"wires":[["c1dddf69.aeed9"]]},{"id":"13da2cd2.1df3e3","type":"keypress","z":"e197b80c.e34108","key":"up","x":130,"y":1140,"wires":[["3f8b704e.8d9d2"]]},{"id":"6f4e892d.655248","type":"ui_text","z":"e197b80c.e34108","group":"38d2bc1a.1c2a54","order":6,"width":6,"height":1,"name":"","label":"<font size=\"2\">You can also play with the arrows in keyboard!</font>","format":"{{msg.payload}}","layout":"col-center","x":310,"y":980,"wires":[]},{"id":"4cf5b275.f34a9c","type":"keypress","z":"e197b80c.e34108","key":"r","x":800,"y":960,"wires":[["39875cb0.38c3e4"]]},{"id":"e5aa305b.6b1f5","type":"mqtt in","z":"e197b80c.e34108","name":"","topic":"acc/Accelerometer/y","qos":"2","datatype":"json","broker":"cb42a640.054608","x":690,"y":1360,"wires":[["184c6a1d.9664d6"]]},{"id":"53e9cdfb.9fe4a4","type":"mqtt in","z":"e197b80c.e34108","name":"","topic":"acc/Accelerometer/x","qos":"2","datatype":"json","broker":"cb42a640.054608","x":690,"y":1300,"wires":[["184c6a1d.9664d6"]]},{"id":"f77508c0.053f58","type":"mqtt in","z":"e197b80c.e34108","name":"","topic":"acc/Accelerometer/z","qos":"2","datatype":"json","broker":"cb42a640.054608","x":690,"y":1420,"wires":[["184c6a1d.9664d6"]]},{"id":"2e3e753a.2ba85a","type":"function","z":"e197b80c.e34108","name":"Without return center","func":"var threshold = 3;\n\nvar returnToCenter;// = false;\n\nvar Ax = msg.payload[0];\nvar Ay = msg.payload[1];\nvar Az = msg.payload[2];\n\nif (!returnToCenter){\n    if (Math.abs(Ax) > threshold){\n        if (Ax > 0){\n            returnToCenter = true;\n            msg.payload = \"down\";\n        } else {\n            returnToCenter = true;\n            msg.payload = \"rotate\";\n        }\n        return msg;\n    } else if (Math.abs(Ay) > threshold){\n        if (Ay > 0){\n            returnToCenter = true;\n            msg.payload = \"right\";\n        } else {\n            returnToCenter = true;\n            msg.payload = \"left\";\n        }\n        return msg;\n    }\n} else if (Az > 9){\n    returnToCenter = false;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1360,"wires":[["e7ed2516.a658d8"]]},{"id":"184c6a1d.9664d6","type":"join","z":"e197b80c.e34108","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"bin","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":890,"y":1360,"wires":[["2e3e753a.2ba85a"]]},{"id":"25435299.f5ab4e","type":"function","z":"e197b80c.e34108","name":"With return center","func":"var threshold = 2;\n\nvar ret = global.get('returnToCenter') || 0;\n\nvar Ax = msg.payload[0];\nvar Ay = msg.payload[1];\nvar Az = msg.payload[2];\n\nif (!ret){\n    if (Math.abs(Ax) > threshold){\n        if (Ax > 0){\n            global.set('returnToCenter',true);\n            msg.payload = \"down\";\n        } else {\n            global.set('returnToCenter',true);\n            msg.payload = \"rotate\";\n        }\n        return msg;\n    } else if (Math.abs(Ay) > threshold){\n        if (Ay > 0){\n            global.set('returnToCenter',true);\n            msg.payload = \"right\";\n        } else {\n            global.set('returnToCenter',true);\n            msg.payload = \"left\";\n        }\n        return msg;\n    }\n} else if (Az > 7){\n    global.set('returnToCenter',false);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1440,"wires":[[]]},{"id":"b4d19e5.3939d6","type":"function","z":"e197b80c.e34108","name":"Utils for \"with return\"","func":"global.set('returnToCenter',false);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1480,"wires":[[]]},{"id":"e7ed2516.a658d8","type":"mqtt out","z":"e197b80c.e34108","name":"","topic":"movement","qos":"","retain":"","broker":"90424e79.bcaf7","x":1270,"y":1360,"wires":[]},{"id":"fdd59d7a.25879","type":"ui_media","z":"e197b80c.e34108","group":"29463c13.a39524","name":"Down","width":6,"height":4,"order":3,"category":"Android","file":"Down.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":210,"y":1280,"wires":[[]]},{"id":"c6f46908.b78f58","type":"ui_text","z":"e197b80c.e34108","group":"29463c13.a39524","order":1,"width":6,"height":1,"name":"","label":"<font size=\"5\">Down</font>","format":"{{msg.payload}}","layout":"col-center","x":440,"y":1280,"wires":[]},{"id":"9645a0b3.a99","type":"ui_media","z":"e197b80c.e34108","group":"29463c13.a39524","name":"Rotate","width":6,"height":4,"order":4,"category":"Android","file":"Rotate.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":210,"y":1340,"wires":[[]]},{"id":"7a776386.b97a1c","type":"ui_text","z":"e197b80c.e34108","group":"29463c13.a39524","order":2,"width":6,"height":1,"name":"","label":"<font size=\"5\">Rotate</font>","format":"{{msg.payload}}","layout":"col-center","x":440,"y":1340,"wires":[]},{"id":"1c1187e1.2a5418","type":"ui_media","z":"e197b80c.e34108","group":"29463c13.a39524","name":"Right","width":6,"height":4,"order":5,"category":"Android","file":"Right.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":210,"y":1400,"wires":[[]]},{"id":"f9c9f93f.6492d8","type":"ui_text","z":"e197b80c.e34108","group":"29463c13.a39524","order":7,"width":6,"height":1,"name":"","label":"<font size=\"5\">Right</font>","format":"{{msg.payload}}","layout":"col-center","x":440,"y":1400,"wires":[]},{"id":"82f76cce.dbca1","type":"ui_media","z":"e197b80c.e34108","group":"29463c13.a39524","name":"Left","width":6,"height":4,"order":6,"category":"Android","file":"Left.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":210,"y":1460,"wires":[[]]},{"id":"1ab898c3.f1a877","type":"ui_text","z":"e197b80c.e34108","group":"29463c13.a39524","order":8,"width":6,"height":1,"name":"","label":"<font size=\"5\">Left</font>","format":"{{msg.payload}}","layout":"col-center","x":430,"y":1460,"wires":[]},{"id":"767d91a5.804dc","type":"ui_led","z":"e197b80c.e34108","group":"29463c13.a39524","order":11,"width":3,"height":2,"label":"Down","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"green","value":"down","valueType":"str"},{"color":"red","value":"rotate","valueType":"str"},{"color":"red","value":"left","valueType":"str"},{"color":"red","value":"right","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":430,"y":1600,"wires":[]},{"id":"6dd8a2a7.dde14c","type":"mqtt in","z":"e197b80c.e34108","name":"","topic":"movement","qos":"2","datatype":"auto","broker":"90424e79.bcaf7","x":140,"y":1660,"wires":[["767d91a5.804dc","6d36c857.07c9a8","f592c717.ebef08","cecad0ad.0e5c3","9237f90c.70d8b8"]]},{"id":"6d36c857.07c9a8","type":"ui_led","z":"e197b80c.e34108","group":"29463c13.a39524","order":12,"width":3,"height":2,"label":"Rotate","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"down","valueType":"str"},{"color":"green","value":"rotate","valueType":"str"},{"color":"red","value":"left","valueType":"str"},{"color":"red","value":"right","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":431,"y":1642,"wires":[]},{"id":"f592c717.ebef08","type":"ui_led","z":"e197b80c.e34108","group":"29463c13.a39524","order":13,"width":3,"height":2,"label":"Left","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"down","valueType":"str"},{"color":"red","value":"rotate","valueType":"str"},{"color":"green","value":"left","valueType":"str"},{"color":"red","value":"right","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":430,"y":1680,"wires":[]},{"id":"cecad0ad.0e5c3","type":"ui_led","z":"e197b80c.e34108","group":"29463c13.a39524","order":14,"width":3,"height":2,"label":"Right","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"down","valueType":"str"},{"color":"red","value":"rotate","valueType":"str"},{"color":"red","value":"left","valueType":"str"},{"color":"green","value":"right","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":431,"y":1722,"wires":[]},{"id":"9237f90c.70d8b8","type":"trigger","z":"e197b80c.e34108","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":210,"y":1580,"wires":[["767d91a5.804dc","6d36c857.07c9a8","f592c717.ebef08","cecad0ad.0e5c3"]]},{"id":"40e0f1f1.c0aaa","type":"ui_button","z":"e197b80c.e34108","name":"","group":"38d2bc1a.1c2a54","order":4,"width":6,"height":1,"passthru":true,"label":"<font size=\"5\">Pause</font>","tooltip":"","color":"","bgcolor":"#DF0F2F","icon":"","payload":"pause","payloadType":"str","topic":"","x":1020,"y":1140,"wires":[["18239904.6fced7"]]},{"id":"18239904.6fced7","type":"mqtt out","z":"e197b80c.e34108","name":"","topic":"pause","qos":"","retain":"","broker":"90424e79.bcaf7","x":1250,"y":1140,"wires":[]},{"id":"5d85ee0b.2fcf4","type":"keypress","z":"e197b80c.e34108","key":"p","x":800,"y":1140,"wires":[["40e0f1f1.c0aaa"]]},{"id":"aff9f07a.86a09","type":"ui_group","name":"Appearance","tab":"dd0579c5.f93328","order":1,"disp":true,"width":"6","collapse":false},{"id":"38d2bc1a.1c2a54","type":"ui_group","name":"Gameplay","tab":"dd0579c5.f93328","order":3,"disp":true,"width":"6","collapse":false},{"id":"9f76deba.9486","type":"ui_group","name":"Piece Colors","tab":"dd0579c5.f93328","order":2,"disp":true,"width":"6","collapse":false},{"id":"90424e79.bcaf7","type":"mqtt-broker","z":null,"name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cb42a640.054608","type":"mqtt-broker","name":"android","broker":"tcp://192.168.0.20","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29463c13.a39524","type":"ui_group","name":"Android Controls","tab":"dd0579c5.f93328","order":4,"disp":true,"width":"12","collapse":false},{"id":"dd0579c5.f93328","type":"ui_tab","name":"MAGTetris ","icon":"pages","disabled":false,"hidden":false}]